<% if Setting.plugin_redmine_my_page["my_activity_enable"] == "1"
  my_activity = user.pref.my_activity %>
  <% if !my_activity.nil? %>
    <div class="contextual">
      <% if my_activity[:query_ids].empty? && controller.action_name == 'page' %>
        <%= link_to l(:label_select_activities), myqueryform_path(:type => 'my_activity'), :remote => true, :class => 'icon icon-add' %>
      <% elsif my_activity[:query_ids].any? %>
        <%= link_to l(:label_update_activities), myqueryform_path(:type => 'my_activity'), :remote => true, :class => 'icon icon-edit' %>
      <% end %>
    </div>
    <% if my_activity[:query_ids].empty? %>
      <h3><%= l(:label_my_activities) %></h3>
    <% end %>
  <% end %>

  <div id='myactivityedit' style='display:none;'></div>
  <div id='myactivities'>
    <% if !my_activity.nil? && my_activity[:query_ids].any? %>
      <% my_activity[:query_ids].each do |queryid| %>
        <%= render :partial => "my/my_page_activities", :locals => { :query_id => queryid,
                :query_limit => my_activity[:limit] } %>
        <hr>
      <% end -%>
    <% end -%>
  </div>
<% else %>
  <h3> <%= l(:label_activity_not_enabled) %></h3>
<% end %>