<% my_queries = IssueQuery.includes(:project).where( :user_id => User.current.id).order("projects.name ASC")
if my_queries && my_queries.any? %>
  <table class="list issues">
    <thead><tr>
      <th>#</th>
      <th><%=l(:field_project)%></th>
      <th><%=l(:label_my_queries)%></th></tr>
    </thead>
    <tbody>
    <% my_queries.each_with_index do |my_query,index|
      next if !my_query.project.nil? && my_query.project.archived?
      param_hash = my_query.project_id.nil? ? { :query_id => my_query.id } : { :project_id => my_query.project_id, :query_id => my_query.id } %>
        <tr id="myquery-<%= index %>" class="<%= cycle('odd', 'even') %>">
          <td class="id"><%= index + 1 %></td>
          <td class="project"><%= my_query.project.nil? ? l(:label_project_all) : link_to_project(my_query.project) %></td>
          <td class="tracker"><%= link_to "#{my_query.name}", issues_path( param_hash ), :target => '_blank' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
